@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* position: static;
  min-height: 100vh; */
  /* background-color: #e1e8ee;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* font-family: "Fira Sans", Helvetica, Arial, sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.form-structor {
  background-color: #222;
  border-radius: 15px;
  height: 550px;
  width: 350px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 950px;
    background-image: url("fondo.jpeg");
  }

  .signup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all 0.3s ease;

    .form-title {
      color: #fff;
      font-size: 1.7em;
      text-align: center;
      font-family: "Times New Roman", serif;
      font-variant: CARLOMAGNO;
    }

    .form-holder {
      border-radius: 15px;
      background-color: #fff;
      overflow: hidden;
      margin-top: 50px;
      opacity: 1;
      visibility: visible;
      /* -webkit-transition: all 0.3s ease; */

      &:last-child {
        border-bottom: 0;
      }
      &::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
    }

    .submit-btn {
      background-color: rgba(0, 0, 0, 0.4);
      color: rgba(256, 256, 256, 0.7);
      border: 0;
      border-radius: 15px;
      display: block;
      margin: 15px auto;
      padding: 15px 45px;
      width: 100%;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      /* -webkit-transition: all 0.3s ease; */

      &:hover {
        transition: all 0.3s ease;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

/*ESPACIO DE TRABAJO*/
.barra-superior {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  height: 60px;
  position: absolute;
  top: 0px;
  width: 100%;

  /*boton cerrar seción*/
  .cerrar {
    background: #fff;
    color: black;
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;

    &:hover {
      color: rgba(256, 256, 256, 0.7);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .crear {
    background: #fff;
    color: black;
    position: absolute;
    top: 10px;
    right: 70px;
    display: block;

    &:hover {
      color: rgba(256, 256, 256, 0.7);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .task-btn {
    background: #fff;
    color: black;
    position: absolute;
    top: 10px;
    right: 130px;
    display: block;

    &:hover {
      color: rgba(256, 256, 256, 0.7);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .textbox {
    position: absolute;
    top: 5px;
    width: 20%;
    height: 80%;
    left: 10px;
    display: block;
    text-align: left;
    font-size: 35px;
  }
}

.principal {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background: #fff;
  position: absolute;
  top: 62px;
  bottom: 0;
  width: 100%;
}

/*boton de la ventana flotante*/
.boton {
  background: #fff;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  &:hover {
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.kanbanpos {
  position: absolute;
  top: 65px;
  left: 25px;
}


.boardItem:hover{
  background-color: blue;
}

.boardItem.active {
  background-color: green;
}

.mainContainer {
  height: 100vh;
}

.leftColumn {
  height: 100%;
  border-right: thin black solid;
  padding: 1rem;
}

.rightColumn {
  padding-top: 2rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.boardColumn {
  border: 1px red solid;
  /* background-color: blue; */
}

.itemDraggable {
  /* cursor: grab; */
  /* display: flex; */
  /* border: 1px red solid; */
}

.icon-grab{
  cursor: grab;
}


.itemBoard {
  border: 5px blue solid;
  display: flex;
  flex-direction: column;
}

.containerBoard {
  border: 1px orange solid;
  max-height: 90vh;
  cursor: default !important;
}
.userActive {
  background-color: red;
}