@import 'bootstrap/dist/css/bootstrap.min.css';

html,body{
position: static;
  min-height: 100vh;
  background-color: #E1E8EE;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}
.barra-superior{
    border-radius: 5px;
    background: #885588;
    height: 40px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.barra-izquierda{
    border-radius: 5px;
    background: black;
    height: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    width: 30%;

}
.principal{
    border-radius: 5px;
    background: green;
    height: 100%;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 75%;

    .submit-btn {
      background-color: rgba(0,0,0,0.4);
      color: rgba(256,256,256,0.7);
      border:0;
      border-radius: 15px;
      margin: 15px auto; 
      padding: 15px 45px;
      width: 30%;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease;

      
      &:hover {
        transition: all .3s ease;
        background-color: rgba(0,0,0,0.8);
      }
    }

}
.form-structor {
  background-color: #222;
  border-radius: 15px;
  height: 550px;
  width: 350px;
  position: relative;
  overflow: hidden;
  
  &::after {
    content: '';
    opacity: .8;
    position: absolute;
    top: 0;right:0;bottom:0;left:0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 950px;
    background-image: url('fondo.jpeg');
  }
  
  .signup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all .3s ease;
    
    .form-title {
      color: #fff;
      font-size: 1.7em;
      text-align: center;  
      font-family: "Times New Roman", serif;
      font-variant: CARLOMAGNO
    }
    
    .form-holder {
      border-radius: 15px;
      background-color: #fff;
      overflow: hidden;
      margin-top: 50px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease;
      
     
        
        &:last-child {
          border-bottom: 0;
        }
        &::-webkit-input-placeholder {
          color: rgba(0,0,0,0.4);
        }
      
    }
    
    .submit-btn {
      background-color: rgba(0,0,0,0.4);
      color: rgba(256,256,256,0.7);
      border:0;
      border-radius: 15px;
      display: block;
      margin: 15px auto; 
      padding: 15px 45px;
      width: 100%;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease;
      
      &:hover {
        transition: all .3s ease;
        background-color: rgba(0,0,0,0.8);
      }
    }
  }
  
  
}


/*boton cerrar seción*/
.cerrarsexion{
  position: absolute;
  right: 0;
}